.stats__ButtonLeftAndRight__year {
  width: 33px;
  cursor: default; 
  margin: 5px;
  margin-top:  1px;
}

.stats__ButtonLeftAndRight__signs {
  width: 33px;
  cursor: pointer;
  height: 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.stats__hourlyBreakdown__hourly-breakdown{
  margin-top: 20px; 
  font-size: bold; 
  font-weight: bold;
}

.stats__hourlyBreakdown__month-container {
  width: 270px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1px 5px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.stats__progressBar {
  background-color: black;
  padding: 3px;
  height: 16px;
  width: 146px;
  margin-left: 46px;
  border-radius: 3px;
  margin-top: 5px;
}

.stats__currentProgress {
  background-color: orange;
  color: black;
  height: 10px;
}

.stats__breakdownContainer {
  width: 280px;
  border: 1px solid black;
  height: 190px;
  position: relative;
  margin: auto;
  padding: 4px;
  padding-top: 10px;
  border-radius: 3px;
}

.stats__hourlyBreakdown__input {
  cursor: pointer; 
  margin-top: 10px; 
  margin-bottom: 20px;
}

.stats__dateDiagram {
  width: 90px;
  height: 50px;
  position: absolute;
  top: 125px;
  left: 131px;
  text-align: center;
}

.stats__row {
  background-color: 'orange';
}

.stats__study-info {
  width: 133px !important;
  height: 86px;
}

.stats__year-box {
  flex-wrap: wrap;
  width: 270px;
  height: 210px;
}

.stats__time {
  /*used in stats for the border of the individual times*/
  margin-left: 11px;
  border: 1px solid black;
  width: 56px;
  padding: 1px;
  border-radius: 2px;
}


.stats__timesAndProgress_times {
  padding-left: 3px;
  height: 21px;
  font-size: 14px;
}

.stats__resetButtonStyling {
  position: absolute;
  top: 17px;
  right: 26px;
  z-index: 2000;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.stats__studyGoal {
  margin-left: 10px;
  border: 1px solid black;
  width: 81px;
  padding-left: 3px;
  height: 24px;
  border-radius: 2px;
}

.stats__header {
  font-size: 22px;
  font-weight: bold;
}

.stats__calendar {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.stats__study-breakdown {
  width: 179px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}

.stats__DeleteCardQuestionBox__cont {
  margin-bottom: 10px;
  border: 1px solid black;
}

.stats__BasicOrangeWindow__cont {
  width: 70%;
  height: 50%;
}