.stats__ButtonLeftAndRight__year {
  width: 33px;
  cursor: default; 
  margin: 5px;
  margin-top:  1px;
}

.stats__ButtonLeftAndRight__signs {
  width: 33px;
  cursor: pointer;
  height: 20px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.stats__hourlyBreakdown__hourly-breakdown{
  margin-top: 20px; 
  font-size: bold; 
  font-weight: bold;
}

.stats__hourlyBreakdown__month-container {
  width: 270px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1px 5px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.stats__hourlyBreakdown__input {
cursor: pointer; 
margin-top: 10px; 
margin-bottom: 20px;
}

.stats__header {
  font-size: 22px;
  font-weight: bold;
}

.stats__calendar {
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}

.stats__study-breakdown {
  width: 179px;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 3px;
}

.stats__DeleteCardQuestionBox__cont {
  margin-bottom: 10px;
  border: 1px solid black;
}

.stats__BasicOrangeWindow__cont {
  width: 70%;
  height: 50%;
}