.landingpage__cont {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  height: 651px !important;
  width: 440px !important;
  background-color: rgb(90, 170, 149);
  /*background: blue;*/
   /*background-image: url('/Users/fab/Downloads/cool-background.png'); */
  /*background-color: url('/Users/fab/Downloads/flashcardappreact/ReactFlashCardApp/src/icons/cool-background.png')*/
  /* background-image: url('/Users/fab/Downloads/flashcardappreact/ReactFlashCardApp/src/icons/cool-background.png') */
  }