.landingpage__cont {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  height: 651px !important;
  width: 440px !important;
  background-color: rgb(90, 170, 149);
  }