.deck__questionAnswer {
  font-weight: bold;
  margin-left: 19px;
  margin-bottom: 10px;
}

.deck__deckOrCardName {
  width: 127px;
  padding-left: 7px;
  border-radius: 5px;
  height: 30px;
  top: -21px;
  left: 5px;
}

.deck__countToStudyGoal {
  width: 191px;
  top: 20px;
  font-size: 13px;
  left: 14px;
}

.deck__add_btn {
  width: 63px;
  height: 24px;
  background-color: grey;
  color: white !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
}

.deck__threeDotsCont {
  transform: rotate(90deg) !important;
  font-weight: bold !important;
  font-size: 23px !important;
  cursor: pointer;
  margin-right: 28px;
  height: 24px;
}

.deck__deleteContainerNoAndYes {
  border: 2px solid grey;
  color: grey;
  width: 60px;
  height: 35px;
  border-radius: 12px;
}

.deck__deleteContainerNoAndYes:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.deck__questionMark {
    width: 40px;
    position: absolute;
}

.deck__index-card-title {
  width: 151px; 
  left: 3px; 
  height: 0px;
}

.deck__saveAndDiscard {
  width: 166px;
  padding: 4px;
  height: 71px;
  top: 345px;
  position: absolute;
  border: 1px grey solid;
  border-radius: 5px;
}

.deck__DeleteCardQuestionBox__img {
  width: 26px;
  height: fit-content;
  margin-right: 20px;
}

.deck__showAnswer {
  background-color: grey;
  outline: none;
  width: 32%;
  height: 32px;
  padding: 0 !important;
  position: relative;
  left: 12px;
}

.deck__saveAndDiscardBtn {
  width: 65px;
  height: 27px;
  cursor: pointer !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
  font-size: 14px;
}

.deck__deckempty {
  height: 90px;
  width: 122px;
}

.deck__container_input {
  width: 43px;
  height: 33px;
  border: none;
  outline: none;
  text-align: center;
}

.deck__onOffSwitch {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 81px;
  right: 338px;
}

.deck__onOffSwitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.deck__onOffSwitch-label {
  display: block;
  overflow: hidden;
  width: 81px;
  height: 25px;
  border: 1px solid #1f1e1e;
  border-radius: 14px;
  right: 110px;
  top: 0px;
}

.deck__onOffSwitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.deck__onOffSwitch-inner:before,
.deck__onOffSwitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 26px;
  padding: 0;
  line-height: 23px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.deck__onOffSwitch-inner:before {
  content: "Paused";
  padding-left: 7px;
  background-color: #faf8f5;
  color: #999999;
}

.deck__onOffSwitch-inner:after {
  content: "Paused";
  padding-right: 7px;
  padding-top: 1px;
  background-color: rgba(200, 168, 115);
  color: #ffffff;
  text-align: right;
  font-size: 12px;
}

.deck__onOffSwitch-switch {
  display: block;
  width: 17px;
  height: 17px;
  margin: 4px;
  font-size: 14px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 53px;
  border: 1px solid #1f1e1e;
  border-radius: 14px;
  transition: all 0.3s ease-in 0s;
}

.deck__onOffSwitch-checkbox:checked + .deck__onOffSwitch-label .deck__onOffSwitch-inner {
  margin-left: 0px;
}

.deck__onOffSwitch-checkbox:checked + .deck__onOffSwitch-label .deck__onOffSwitch-switch {
  right: 0px;
}

.deck__threeDotsBtn__conditional {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
}

.deck__basic_button_positioning {
  right: 10px;
  top: 3px;
}

.deck__plusInfoMessage {
  height: 24px;
  width: 24px;
  margin-left: 9px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}

.deck__posQuestionAnswer {
  right: 20px;
  top: -1px
}

.deck__addToDeck {
    width: 110px;
    height: 32px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    background: grey;
}

.deck__threeDotsBtn_btn_pause {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.deck__threeDotsBtn__btn {
  background-color: white !important;
  border: none;
  color: black !important;
  outline:none;
}

.deck__threeDotsBtn__btn:hover {
  background-color: #a39171 !important;
  outline:none;
}

.deck__openDeck {
  outline: none !important;
  width: 110px;
  padding: 5px;
  color: white !important;
  border-radius: 5px !important;
  outline: none !important;
  border: none !important;
}

.deck__openDeck:hover {
  background-color: #545863 !important;
}

.deck__settings-layout {
  background-color: rgba(200, 168, 115) !important;
  border-radius: 20px !important;
  height: 544px;
  width: 374px !important;
  border: 2px solid black !important;
}

.deck__showRepeat {
  border: 1px solid grey;
  padding: 12px;
  border-radius: 5px;
  width: 80%;
}

.deck__paused__addCardsToDeck {
  font-size: 13px;
  top: 110px;
}

.deck__noyes_inner {
  width: 75%;
}

.deck__btn-play {
  border: 1px solid black;
  height: 26px;
  width: 29px;
  outline: none !important;
  border-radius: 12px;
  padding-left: 8px;
  margin-left: 8px;
}

.deck__modal_cont {
  width: 98% !important;
  height: 95% !important;
  margin: auto !important;
  overflow: hidden auto !important;
}

.deck__card_cont {
  height: 206px;
  width: 310px;
  padding: 10px 0px 0px 0px;
  margin: 10px 0 0 20px;
  background-color: #dcc9b6;
  position: absolute;
  transform-origin: 0px 215px;
}

.deck__addToDeck__btn_plus {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  left: -20px;
  top: 173px;
  z-index: 100 !important;
  border: none !important;
}

.deckEmptyAndPausedContainer {
  padding: 5px;
  width: 152px;
  position: absolute;
  top: 45px;
  left: 75px !important;
  height: 111px;
  border-radius: 5px;
}

.deck__openDeck:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.deck__threeDotsBtn__reset-img {
  margin-right: 3px;
  width: 23px;
  height: 23px;
}

.deck__editBtn {
  top: -18px;
  margin-left: 20px;
}

.deck__formControl {
  width: 93% !important;
  height: 93px !important;
  position: relative;
  left: 10px;
  outline: none !important;
  padding-left: 10px;
  padding-top: 2px;
  box-sizing: border-box;
}

.deck__addToDeckInput {
  width: 129px;

  border-radius: 5px;
  padding-left: 5px;
  position: relative;
  left: 10px;
  top: -23px;
  height: 26px;
  outline: none;
  z-index: 2;
}

.deck__showAnswerButton {
  background-color: grey;
  color: white;
  width: 105px;
  height: 35px;
  margin-left: 7px;
  border-radius: 5px;
  padding: 7px;
}

.deck__container {
  /*shown on the main page to study, to review etc*/
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: white;
  width: 125px;
  padding: 4px;
  padding-left: 10px;
  height: 26px;
  margin-bottom: 10px;
}

.deck__deckEmpty {
  left: 84px; 
  text-align: center;
}

.deck__pauseModeHandler {
  left: 17px; 
  top: 30px;
}

.deck__tooLongOrShort {
  z-index: 10;
  width: 100px;
  left: 235px;
  top: 22px;
}

.deck__threeDotsInQuestAnsw {
  top: 14px;
  right: 19px;
  height: 98px;
  z-index: 2000;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.deck__blinkingIcon {
  animation: blinker 1.3s linear infinite;
  animation-iteration-count: 2;
}

.deck__unpause-keepPaused {
  cursor: pointer;
  width: 113px;
  padding: 7px;
  height:23px;
}

.deck__threeDotsBtnIndex {
  position: absolute;
  top: -5px;
  left: 10px;
  z-index: 2000;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}