.menu__cont {
  cursor: pointer;
  background-color: #dcc9b6;
  border: 3px black solid;
  border-radius: 5px;
  margin-top: 1px;
  width: 280px;
  height: 30px;
}

.menu__transPlus {
  transform: rotate(135deg);
}

.menuContainer__modalbody {
  top: 42px;
  left: 10px;
}

.menu__icon-container{
  cursor: pointer;
  background-color: #dcc9b6;
}

.menu__icon-container:hover {
  background:#545863
}

.menu__icon-cont {
  width: 87px;
  top: 59px;
}

.menu__transMinus {
  transform: rotate(-135deg);
}

.menu__menuIcon {
  font-weight: bold;
  border: 2px black solid;
  width: 32%;
  margin-bottom: 3px;
  border-radius: 12px;
  position: absolute;
  transition: 1s all;
  background-color: black;
}

.menu__menu {
  width: fit-content;
  font-weight: bold;
  margin-left: 10px;
}