.menu__cont {
  cursor: pointer;
  background-color: #dcc9b6;
  border: 3px black solid;
  border-radius: 5px;
  margin-top: 1px;
  width: 280px;
  height: 27px;
}

.menu__transPlus {
  transform: rotate(135deg);
}

.menu__transMinus {
  transform: rotate(-135deg);
}
