* {
  font-family: "San Francisco";
 // margin: 5px; 
}

html {
  width: 450px;
  margin: auto;
  margin-top: 50px;
}

body {
  margin: 0px;
}

// https://stackoverflow.com/questions/13644262/bootstrap-2-2-1-modal-bug-blue-border-around-calling-href
//there was a border around menu before
.modal-open .modal,.btn:focus{
  outline:none!important
}

// https://stackoverflow.com/questions/68280984/how-to-isolate-bootstrap-5
/*bs-5 needed to isolate bootstrap classes*/

.bs-5 {
  @import "~bootstrap/scss/bootstrap"
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: seagreen;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: seagreen;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: seagreen;
}

/*Chrome, Safari, Edge, Opera  tried to hide the up and down number field in settings with that*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

.posRelative {
  position: relative;
}

.posAbsolute {
  position: absolute;
}

.left-40px {
  left:40px;
}

.zIndex-5 {
  z-index: 5;
}

.overflowHidden {
  overflow: hidden;
}

.fontBold {
  font-weight: bold;
}

.font-13px {
  font-size:13px;
}
.font-18px {
  font-size: 18px;
}

.font-22px {
  font-size: 22px;
}

.font-26px {
  font-size: 26px;
}

.text-center {
  text-align: center;
}

.cursorPointer {
  cursor: pointer;
}

/*positioning following from here*/

.left-40px {
  left: 40px;
}

.left-84px {
  left: 84px;
}

.left-180px {
  left: 180px;
}

.left-358px {
  left: 358px;
}

.right--335px {
  right: -335px;
}

.top--74px {
  top: -74px;
}

.top-1px {
  top: 1px;
}

.top-2px {
  top:2px;
}

.top-5px{
  top:5px;
}

.top-8px {
  top:8px;
}

.top-16px {
  top:16px;
}

.top-20px {
  top:20px;
}

.top-30px {
  top:30px;
}

.top-50px {
  top: 50px;
}

.top-56px {
  top: 56px;
}

/*<-- top left right positioning until here*/

.pointer {
  cursor: pointer !important;
}

.outline-none:focus {
  outline: none !important;
}

/*custom margins and paddings following-->*/

.p-50px {
  padding: 50px;
}

.p-4px {
  padding: 4px;
}

.pl-10px {
  padding-left:10px;
}

.pr-10px {
  padding-right:10px;
}

.pl-25px {
  padding-left: 25px;
}

.pl-30px {
  padding-left: 30px;
}

.pt-4px {
  padding-top: 4px;
}

.m-5px {
  margin: 5px;
}

.m-6px {
  margin: 6px;
}

.ml-3px {
  margin-left: 3px;
}

.ml-10px {
  margin-left:10px;
}

.mt--10px {
  margin-top: -10px;
}

.mt-3px {
  margin-top: 3px;
}

.mt-5px {
  margin-top:5px
}

.mt-10px {
  margin-top: 10px;
}

.mb-15px {
  margin-bottom:15px;
}

.mb-15px-imp {
  margin-bottom: 15px !important;
}

.mt-15px-imp {
  margin-top: 15px !important;
}

.mt-20px {
  margin-top:20px;
}

.ml-21px {
  margin-left: 21px;
}

.ml-21px-imp {
  margin-left: 21px !important;
}

.mb-5px {
  margin-bottom:5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mt-3px {
  margin-top: 3px;
}

.mt-35px {
  margin-top: 35px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-60px {
  margin-top: 60px;
}

.mr-18px {
  margin-right: 18px;
}

.mt-22px {
  margin-top: 22px;
}

.mr-4px {
  margin-right: 4px;
}

.mt-25px {
  margin-top:25px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-48px {
  margin-top: 48px;
}

.mt-50px {
  margin-top: 50px !important;
}

.mt-55px {
  margin-top: 55px;
}

.mt-73px {
  margin-top: 73px;
}

.mt-75px {
  margin-top: 75px;
}

.mt-90px {
  margin-top: 90px;
}

.mt-150px {
  margin-top: 150px;
}

.mt-290px {
  margin-top: 290px;
}

.ml-5px {
  margin-left: 5px;
}

.ml-7px {
  margin-left: 7px;
}

.ml-10px {
  margin-left: 10px;
}

.ml-21px {
  margin-left: 21px;
}

.ml-30px {
  margin-left: 30px;
}

.mr-3px {
  margin-right: 3px;
}

.mb-10px {
  margin-bottom:10px
}

.mb-25px {
  margin-bottom: 25px;
}

.mb-20px {
  margin-bottom: 20px
}

.mb-15pc {
  margin-bottom: 15%;
}

.marginAuto {
  margin: auto;
}

/*<--all custom margins and paddings until here*/

/*custom width and height following-->*/

.widthFitContent {
  width: fit-content !important;
}

.width16px {
  width:16px;
}

.width10px {
  width:10px;
}

.height10px {
  height:10px;
}

.height16px {
  height:16px;
}

.height27px {
  height: 27px;
}

.height35px {
  height:35px;
}

.height75px {
  height: 75px;
}

.height100px {
  height: 100px;
}

.width20px {
  width:20px;
}

.width26px {
  width: 26px;
}

.width34px {
  width: 34px
}

.width40px {
  width: 40px
}

.width45px {
  width: 45px
}

.width50pc {
  width: 50%;
}

.width57pc {
  width: 57%;
}

.width70pc {
  width: 70%;
}

.width75pc {
  width: 75%;
}

.width80px {
  width: 80px;
}

.width80pc {
  width: 80pc;
}

.height85pc {
  height: 85%;
}

.width95pc {
  width: 95%;
}

.width100pc {
  width: 100%;
}

.width100px {
  width:100px;
}

.width120px {
  width:120px;
}

.width140px {
  width:140px;
}

.width166px {
  width:166px;
}

.width200px {
  width: 200px;
}

.width250px {
  width:250px;
}

.width300px {
  width:300px;
}

.widthFitContent {
  width: fit-content;
}

.width12rem {
  width:12rem;
}

.height10px {
  height: 10px;
}

.height35px {
  height: 35px;
}

.height52px {
  height: 52px;
}

.height70px {
  height:70px;
}

.height100px {
  height:100px;
}

.height120px {
  height:120px;
}

.height200px {
  height: 200px;
}

.height50vh {
  height: '50vh';
}

.heightpc {
  height: '100%'
}

.scrollbar-inner {
  height: 1000px;
}
/*<-- all custom width and height*/

/*flex combinations following-->*/

.d-flex {
  display:flex
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-center-align-center {
  display: flex !important; /*important needed for repeatBtn.js */
  justify-content: center;
  align-items: center;
}

.justify-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-around-align-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.justify-evenly-align-center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.justify-evenly {
  display: flex;
  justify-content: space-evenly;
}

/*<--all flex combinations*/

button:focus,
input:focus,
textarea:focus,
textarea:active,
textarea {
  outline: none !important;
}

input[type="checkbox"] {
  cursor: pointer;
}

.nav-link,
.nav-link:visited,
.nav-link:active,
.nav-link:hover {
  padding: 0.5rem 0.4rem !important;
  color: black;
}

.deleteCardQuestionBox-modal-footer {
  width: 100%; 
  height: 14px;
}

.modal-open:focus {
  outline:none;
}

.modNew {
  // background-color: transparent !important;
  border: none !important;
  // background-color: burlywood;
  margin: 0 auto;
  padding: 0px !important;
  width: 99% !important;
}

.outline-none {
  outline: none;
}

.SaveBtn {
  background-color: #d4edda;
  color: #155724;
}

.DiscardBtn {
  background-color: #f8d7da;
  color: #721c24;
}
.SaveBtn:hover {
  background-color: #155724;
  color: white;
}

.DiscardBtn:hover {
  background-color: #721c24;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: auto !important;
  opacity: 1;
  /*!important;*/
  cursor: pointer;
}

.nonDraggableIcon {
  /* user-drag: none;   */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

a:hover {
  text-decoration:none;
  cursor:pointer;
}

a {
  text-decoration: none;
}

.form {
  width: 70% !important;
  height: 300px;
  resize: none;
}

.mod {
  /*specifies the width etc. of basic orange window*/
  background-color: rgba(200, 168, 115) !important;
  border-radius: 20px !important;
  height: 544px;
  width: 374px !important;
  margin-top: 50px !important;
  margin: auto;
  border: 2px solid black !important;
  z-index: 10;
}

.col-darkslategrey {
  color: darkslategrey;
}

.modAddToDeck {
  /*specifies the width etc. of basic orange window*/
  background-color: rgba(200, 168, 115) !important;
  border-radius: 20px !important;
  height: 544px;
  width: 374px !important;
 // margin-top: 90px !important;
  margin-top: 50px !important;
  margin: auto;
  border: 2px solid black !important;
  z-index: 2;
}

.redCross {
  // background-color: transparent !important;
  cursor:pointer;
  color: red !important;
  border: none !important;
  outline: none !important;
  width:20px;
  height:20px;
  // border-radius: 50%;
   padding: 3px;
}

.redCross:active, .redCross:hover {
  background: #b07d62;
  padding: 3px;
  border-radius: 50%;
}

.form-control {
  resize: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  background: rgba(184, 156, 110, 0.95);
  border-radius: 5px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.selected svg {
  fill: green;
}

#deleteWindow .modal-header {
  background-color: rgba(200, 168, 115) !important;
  width: 240px !important;
  height: 45px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#deleteWindow .modal-content {
  width: 240px;
  top: -36px;
  position: relative;
}

#deleteWindow .modal-footer {
  height: 28px !important;
  border: 1px solid  rgba(200, 168, 115);
}

.modal-open .modal {
  overflow-y: hidden !important;
}

#deleteWindow { 
  /*background color of reset progress in stats*/
  background-color: rgba(0, 0, 0, 0.7);
}

#deleteWindow,
#createDeck .modal-footer,
#createDeck .modal-header {
  border-top: 0px;
  border-bottom: 0px;
}

#createDeck {
  position: absolute;
  top: 170px;
}

.close {
  outline: none !important;
}

.modal-footer {
  height: 45px !important;
}

.modal-body {
  height: 75px;
}

.deleteWindow #modal { 
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-title {
  height: 50px;
}

.mod-title {
  width:90%;
  margin-left:20px;
}

.mod .modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  display: flex;
  justify-content:center
}

// .paused__img-play {
//   margin: 6px; 
//   cursor: pointer;
// }

.backgroundModal {
  /*background styling that is shown when threedotscontainer in stats is clicked*/
  background-color: rgba(0, 0, 0, 0.3);
  // padding: 163px;
  top: -12px;
  // height: 730px !important;
   height: 650px !important;
  max-width: 440px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#createDeck .modal-body {
  padding: 5px;
}

#createDeck .modal-header {
  height: 33px;
}

#createDeck .modal-title {
  height: 30px;
  background-color: rgba(200, 168, 115) !important;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent !important;
  padding-left: 23px;
  width: 175px;
  padding-top: 10px;
  display: flex;
  justify-content:center;
}

#createDeck .modal-content {
  width: 247px;
  height: 160px;
  background-color: rgba(200, 168, 115) !important;
  margin: auto;
  padding: 15px;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.save:hover {
  background: #2d6a4f;
}

textarea.form-control:active,
textarea.form-control:focus {
  outline: none !important;
}

.alert {
  margin-bottom: 0px !important;
  padding: 5px !important;
}

textarea:focus {
  border: 3px solid grey;
  box-shadow: 0px 0px 15px grey;
  outline: none !important;
}

textarea:enabled {
  border: 3px solid grey;
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: absolute;
}

